<%- include('../partials/header') %>

<div class="container mt-3 p-3 bg-dark text-white rounded">
    <a href="/contacts" class="btn btn-secondary">⬅ </a>
    <br><br>
<h2>Edit Contact</h2>
<form action="/contacts/<%= contact._id %>?_method=PUT" method="POST">
    <div class="mb-3 mt-3">
        <label class="form-label">Name:
            <input type="text" name="name" value="<%= contact.name %>" class="form-control">
        </label>
    </div>
    <div class="mb-3 ">
        <label class="form-label">Email:
            <input type="email" name="email" value="<%= contact.email %>" class="form-control">
        </label>
    </div>
    <div class="mb-3 ">
        <label class="form-label">Telephone:
            <input type="number" name="phone" value="<%= contact.phone %> " class="form-control">
        </label>
    </div>
    <div class="mb-3 ">
        <label class="form-label">Date of Birth:
            <input type="datetime-local" name="dob" value="<%= contact.dob %> " class="form-control">
        </label>
    </div>
    <button type="submit" class="btn btn-primary">SAVE</button>
</div>
</form>

<%- include('../partials/footer') %>
