<%- include('../partials/header') %>
<br>
<div class="container mt-3 p-3 bg-dark text-white rounded">
    <a href="/contacts" class="btn btn-secondary">⬅ </a>
    <br><br>
<h2>Contacts Details</h2>
<div>Name: <%= contact.name %></div>

<div>Email: <%= contact.email %></div>

<div>Telephone: <%= contact.phone %></div>

<div>Date of Birth: <%= contact.dob ? contact.dob.toLocaleDateString() : 'Not specified' %></div>
<br> <h5>Work:</h5>
<% if (contact.work) {%>
    
            <% contact.work.forEach(function(c) {%> 
                
                   <div>Company Name: <%= c.company %> </div> 
                    <div>Industry: <%= c.industry %> </div>
                
                <% }) %>
        
 <% } else {%> 
    <h5>No company added</h5>
    <% }%>
</div>
<br><br>
<% if (contact.work.length === 0 ) {%>
<div class="container mt-3 p-3 bg-dark text-white rounded">
    <h2>Add a New Company</h2>
    <form action="/contacts/<%= contact._id %>/companies" method="POST">
        <div class="mb-3 mt-3">
            <label class="form-label">Name:
                <input type="text" name="company" placeholder="Enter Company" class="form-control">
            </label>
        </div>
        <div class="mb-3 ">
            <label class="form-label">Industry:
                <input type="text" name="industry" placeholder="Enter Industry" class="form-control">
            </label>
        </div>
        
        <button type="submit" class="btn btn-outline-primary">ADD</button>
    </div>
</form>
<%} else {%>
    <div class="container mt-3 p-3 bg-dark text-white rounded">
    <h2>Work Already Added</h2>
    </div>
    <% } %>


<%- include('../partials/footer') %>
